{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card">
      <div class="card-header">
          <h3 class="text-center">Create Student</h3>
      </div>
      <div class="card-body">
        <form method="post" class="mt-4">
          {% csrf_token %}
          
          <!-- Form Fields Rendering Placeholder -->
          <div class="form-group">
            <!-- You would render your form fields manually here using {{ form.field_name }} -->
            <!-- Example -->
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Enter your First name here" value="{{ form.first_name.value|default:''}}" >
          </div>
    
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Enter your Last name here" value="{{ form.last_name.value|default:'' }}">
          </div>

          <div class="form-group">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" name="gender" class="form-control" value="{{ form.gender.value|default:'' }}" >
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Others </option>
            </select>
          </div>

          <div class="form-group">
            <label for="ph_num">Phone Number</label>
            <input type="number" id="ph_num" name="ph_num" class="form-control" placeholder="Enter your Phone number here" value="{{ form.ph_num.value|default:'' }}">
          </div>
    
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email here" value="{{ form.email.value|default:'' }}">
          </div>
    
          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" class="form-control" placeholder="Enter your Age here" value="{{ form.age.value|default:'' }}">
          </div>
          <a href="{% url 'student_list' %}"  class="btn btn-secondary mb-3">Back</a>
          <button type="submit" class="btn btn-success mb-3">Submit</button>
        </form>
        
          {% if form.errors %}
            <div class="alert alert-danger mt-3">
              <strong>Please correct the following errors:</strong>
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
      
      </div>
  </div>
</div>
{% endblock %}



